apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: lbmv
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: lbmv
    app.kubernetes.io/part-of: byoc-app-dpeh
  name: lbmv
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: lbmv
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: lbmv
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-juad-tenant/byoc-app-dpeh/lbmv@sha256:2220e347cc638b6ef0541b6d432122fbc43b60e0ab32a0bb800ba7d63eb91dfe
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
